.link {
    &,
    &:link,
    &:visited {
        text-decoration: none;
        color: currentColor;
    }
}

.grid-full {
  perspective: none;
  grid-column: 1 / -1;
}

.white-space {
    white-space: pre-wrap;
}

.bgimage-moto {
  background-image: url("./images/brutale-2021-l.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.bgimage-music {
  background-image: url("./images/music-producer.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.bgimage-ball {
  background-image: url("./images/ball.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.bgimage-soccer {
  background-image: url("./images/soccer.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.bgimage-powerlift {
  background-image: url("./images/powerlift.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.bgcolor-primary {
  background-color: $color-primary;
}

.bgcolor-secondary-dark {
  background-color: $color-secondary-dark;
}

.bgcolor-secondary {
  background-color: $color-secondary;
}

.bgcolor-secondary-light {
  background-color: $color-secondary-light;
}

.bgcolor-tertiary {
  background-color: $color-tertiary;
}

.bgcolor-tertiary-comp {
  background-color: $color-tertiary-comp;
}

.bgimage-color-tertiary-gradient {
  background-image: linear-gradient(to right bottom, $color-tertiary, $color-tertiary-comp);
}

.bgcolor-grey-light-1 {
  background-color: $color-grey-light-1;
}

.bgcolor-grey-light-2 {
  background-color: $color-grey-light-2;
}

.bgcolor-grey-light-3 {
  background-color: $color-grey-light-3;
}

.color-white {
  color: $color-white;
}

.xxlarge-font-size {
  font-size: $xxlarge-font-size !important;
  line-height: $xxlarge-font-size !important;
}

.title {
  font-size: $massive-font-size;
}

.svg-box {
  position: relative;
  height: 50rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  border-radius: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ml-2 {
  margin-left: 2rem;
}

.mr-2 {
  margin-right: 2rem;
}

.mw-50 {
  max-width: 50% !important;
}

.mw-66 {
  max-width: 66% !important;
}